<body>
    <!-- Origin: 
        https://aerotwist.com/tutorials/creating-particles-with-three-js/ 
        https://aerotwist.com/tutorials/getting-started-with-three-js/  -->
    <!-- CSG.js + Three.js:
        https://github.com/chandlerprall/ThreeCSG -->


    <head>
        <!-- <link rel="stylesheet" type="text/css" href="static/main.css"> -->
    </head>

    <style type="text/css">
        body {

            margin: 0;
            background: #AAA;
        }
    </style>

    <div id="container"></div>
    <script src="/static/bower_components/three.js/build/three.js"></script>
    <script src="/static/bower_components/three.js/examples/js/Detector.js"></script>
    
    <script src="/static/bower_components/three.js/examples/js/shaders/CopyShader.js"></script>
    <script src="/static/bower_components/three.js/examples/js/shaders/DotScreenShader.js"></script>
    <script src="/static/bower_components/three.js/examples/js/shaders/RGBShiftShader.js"></script>

    <script src="/static/bower_components/three.js/examples/js/postprocessing/EffectComposer.js"></script>
    <script src="/static/bower_components/three.js/examples/js/postprocessing/RenderPass.js"></script>
    <script src="/static/bower_components/three.js/examples/js/postprocessing/MaskPass.js"></script>
    <script src="/static/bower_components/three.js/examples/js/postprocessing/ShaderPass.js"></script>

    <script src="/static/bower_components/three.js/examples/js/controls/OrbitControls.js"></script>

    <script src="/static/ThreeCSG/ThreeCSG.js"></script>

    <script type="text/javascript" src="/static/bower_components/dat-gui/build/dat.gui.min.js"></script>

    <script type="text/javascript">
    
        var ParticleControl = function() {
            this.spin = 0.01;
            this.gravity = 0.05;
        };

        var pcontrol = new ParticleControl();
        var gui = new dat.GUI();
        gui.add(pcontrol, 'spin', 0.0, 1.0);
        gui.add(pcontrol, 'gravity', 0.0, 0.5);
        
    </script>

    <script id="vertexShader" type="x-shader/x-vertex">
        void main() {
            gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        uniform vec2 u_mouse;
        uniform vec2 u_resolution;
        uniform float u_time;

        void main() {
            vec2 st = gl_FragCoord.xy/u_resolution.xy;
            vec2 m = u_mouse.xy/u_resolution.xy;
            gl_FragColor=vec4(st.x,st.y,m.x,1.0);
        }
    </script>
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

        var container;
        var camera, scene, renderer;
        var uniforms;
        var particleSystem;
        var particleCount, particles;
        var controls;
        var options;
        var cube;
        var material;
        var resultZPos = 0;

        init();
        animate();

        function init() {
            container = document.getElementById( 'container' );

            // set some camera attributes
            var VIEW_ANGLE = 45,
              ASPECT = window.innerWidth / window.innerHeight,
              NEAR = 0.1,
              FAR = 10000;

            // camera = new THREE.Camera();
            // camera.position.z = 1;

            camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
            camera.position.z = 300;

            scene = new THREE.Scene();

            var geometry = new THREE.PlaneBufferGeometry( 2, 2 );

            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );

            // var mesh = new THREE.Mesh( geometry, material );
            // scene.add( mesh );

            // -------------------------------------------------------


            // the monolith
            // var geometry = new THREE.BoxGeometry( 100, 300, 20 );
            
            // carving column 
            var geometry = new THREE.BoxGeometry( 100, 300, 100 );
            // var material = new THREE.MeshBasicMaterial( {color: 0x00ff00} );
            
            material = new THREE.MeshPhongMaterial( { 
                    // color: 0x156289,
                    color: 0xFFFFFF,
                    // emissive: 0x072534,
                    emissive: 0x000000,
                    side: THREE.DoubleSide,
                    shading: THREE.FlatShading } );


            cube = new THREE.Mesh( geometry, material );
            // var options = chooseFromHash( cube );
            scene.add( cube );

            var ambientLight = new THREE.AmbientLight( 0x222222 );
            scene.add( ambientLight );

            var lights = [];
            lights[0] = new THREE.PointLight( 0xbbbbbb, 1, 0 );
            lights[1] = new THREE.PointLight( 0xbbbbbb, 1, 0 );
            lights[2] = new THREE.PointLight( 0xbbbbbb, 1, 0 );

            lights[0].position.set( 0, 200, 0 );
            lights[1].position.set( 100, 200, 100 );
            lights[2].position.set( -100, -200, -100 );

            scene.add( lights[0] );
            scene.add( lights[1] );
            scene.add( lights[2] );

            // -------------------------------------------------------

            // create the particle variables
            particleCount = 1800;
            particles = new THREE.Geometry()
            var pMaterial = new THREE.PointCloudMaterial({
                  color: 0xFFFFFF,
                  size: 20,
                  map: THREE.ImageUtils.loadTexture(
                    "/static/images/particle.png"
                    // "images/marquee_column_01.png"
                    // "images/antivj-omicron-01.jpg"
                    ),
                blending: THREE.AdditiveBlending,
                transparent: true,
                wireframe: true
            });

            pMaterial.magFilter = THREE.NearestFilter;
            pMaterial.minFilter = THREE.NearestFilter;

            // now create the individual particles
            for (var p = 0; p < particleCount; p++) {

              // create a particle with random
              // position values, -250 -> 250
              var pX = Math.random() * 500 - 250,
                  pY = Math.random() * 500 - 250,
                  pZ = Math.random() * 500 - 250;
              
              var particle = new THREE.Vector3(pX, pY, pZ);
              // var particle = new THREE.Vertex(pLocation);

            particle.velocity = new THREE.Vector3(
              0,              // x
              -Math.random(), // y: random vel
              0);

              // add it to the geometry
              particles.vertices.push(particle);
            }

            // create the particle system
            particleSystem = new THREE.PointCloud( particles, pMaterial);
            particleSystem.sortParticles = true;
            // scene.add(particleSystem);

            // -------------------------------------------------------

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );

                // postprocessing
                composer = new THREE.EffectComposer( renderer );
                composer.addPass( new THREE.RenderPass( scene, camera ) );
                // var effect = new THREE.ShaderPass( THREE.DotScreenShader );
                // effect.uniforms[ 'scale' ].value = 4;
                // composer.addPass( effect );
                var effect = new THREE.ShaderPass( THREE.RGBShiftShader );
                effect.uniforms[ 'amount' ].value = 0.0015;
                effect.renderToScreen = true;
                composer.addPass( effect );

            container.appendChild( renderer.domElement );

            controls = new THREE.OrbitControls( camera, renderer.domElement );
            controls.addEventListener( 'change', render );

            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
            document.addEventListener( 'mousedown', onDocumentMouseDown, false );
        }

        function onWindowResize( event ) {
            renderer.setSize( window.innerWidth, window.innerHeight );
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function onDocumentMouseDown( event ) {

            // Get unprojected 3D location from mouse click location
            var vector = new THREE.Vector3();
            vector.set(
                ( event.clientX / window.innerWidth ) * 2 - 1,
                - ( event.clientY / window.innerHeight ) * 2 + 1,
                1.5 );
            vector.unproject( camera );
            var dir = vector.sub( camera.position ).normalize();
            var distance = - camera.position.z / dir.z;
            var pos = camera.position.clone().add( dir.multiplyScalar( distance ) );

            chiselGeometry = new THREE.BoxGeometry( 50, 50, 50 );
            chisel = new THREE.Mesh( chiselGeometry, material );
            chisel.position = pos;
            chisel.position.x = pos.x;
            // chisel.position.y = camera.position.z;

            var chisel_bsp = new ThreeBSP( chisel );
            var cube_bsp = new ThreeBSP( cube ); 

            var subtract_bsp = cube_bsp.subtract( chisel_bsp );

            var result = subtract_bsp.toMesh( new THREE.MeshPhongMaterial({ 
                    shading: THREE.SmoothShading, 
                    color: 0xFFFFFF,
                    emissive: 0x000000,
                    side: THREE.DoubleSide }) );
            
            result.geometry.computeVertexNormals();
            
            resultZPos -= 100;
            // result.position.z = resultZPos;
            scene.remove( cube )
            // scene.add( result );
            
            // chisel.materials[0].transparent = true;
            chisel.material.transparent = true;
            chisel.material.opacity = 0.3;
            scene.add( chisel );
            cube = result;
            scene.add( cube );
        }

        function update() {

        }

        function animate() {

            controls.update();

            var pCount = particleCount;
            while (pCount--) {

                // get the particle
                var particle = particles.vertices[pCount];

                // check if we need to reset
                if (particle.y < -200) {
                  particle.y = 200;
                  particle.velocity.y = 0;
                }

                // update the velocity with a splat of randomniz
                particle.velocity.y -= Math.random() * pcontrol.gravity;

                // and the position
                particle = particle.add(particle.velocity);

            // If there were stationary meshes we didn't want to rotate, we would include this condition, from the geometry.js functions.
            // if( !options.fixed ) {
                // cube.rotation.x += 0.00001;
                cube.rotation.y += 0.00001;
                // }
            }

            // flag to the particle system that we've changed its vertices.
            particleSystem.geometry.verticesNeedUpdate = true;

            requestAnimationFrame( animate );
            render();
            // composer.render();
        }

        function render() {
            uniforms.u_time.value += 0.05;
            particleSystem.rotation.y += pcontrol.spin;

            renderer.render( scene, camera );
        }
    </script>
</body>